@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-container {
  margin: 0 auto;
  padding: 15px 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.95);
  font-family: 'Lato', sans-serif;
}

:root {
  --header-color: #ffa500;
  --bg-color: #d18700;
  --primary-color: #e3ae09;
  --secondary-color: #a36a00;
  --dark-color: #754c00;
  --hover-color: #ffc55c;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(26%) sepia(64%) saturate(556%) hue-rotate(7deg) brightness(91%) contrast(99%);
}

/* Main Page */

.page-header {
  display: flex;
  flex-wrap: wrap;
  height: 11rem;
  background-color: var(--header-color);
  box-shadow: -1px 1px 12px -1px rgba(0, 0, 0, 0.71);
}

.page-header .header-image {
  flex: 50%;
}

.page-header .header-body {
  flex: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  font-family: 'Gill Sans', sans-serif;
}

.country-body > h2 {
  font-size: 1rem;
}

.page-header .header-body h2,
.countries-container .country-body h2 {
  font-weight: 700;
}

.page-header .header-body > *,
.countries-container .country-body > * {
  margin: 0;
}

.middle-title {
  font-size: 0.9rem;
  margin-left: 1rem;
  padding: 5px 0;
  text-transform: uppercase;
}

/* Countries list */

.countries-container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: -1px 1px 12px -1px rgba(0, 0, 0, 0.71);
  height: 100%;
}

.div {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.div:hover {
  background-color: var(--hover-color);
}

.countries-container > .div {
  flex: 50%;
  max-width: 50%;
  color: white;
  text-decoration: none;
}

.countries-container .div .country-image {
  height: 100px;
  align-self: flex-start;
}

.arrow-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.country-body > p {
  font-size: 0.8rem;
  position: relative;
  color: white;
  line-height: 1.4;
}

.country-body > p::after {
  content: attr(data-content);
  position: absolute;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--hover-color);
}

.country-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0.7rem 1rem 0.4rem;
}

.div-0,
.div-3,
.div-4,
.div-7,
.div-8 {
  background-color: var(--primary-color);
}

.div-1,
.div-2,
.div-5,
.div-6 {
  background-color: var(--secondary-color);
}

/* Regions Page */

/* Loading */

.loader,
.loader::before,
.loader::after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: var(--dark-color);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: "";
}

.loader::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader::after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loader-container {
  min-height: 50vh;
}

.section-title {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
